
<div class="row">
    <div class="col-2">
        <h5>Score</h5>
        <MudDivider/>
        <div> 
            @(Math.Round(Value ?? 0, 5))
        </div>
    </div>
    <div class="col">
        @ChildContent
    </div>
    
</div>

@code {
    [Parameter] public float? Value { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}