
<div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>@Metric.Name</h3>
            </div>
        </div>
        
        <div class="row">
            
            <div class="col">
                <div class="d-inline-flex border-bottom">
                    <strong>Value:</strong>
                    <div class="pl-2">@Metric.Value</div>
                </div>
            </div>
            
        </div>
        
    </div>
</div>

@code {
    [Parameter] public MetricValueModel Metric { get; set; }
}