@using Radiate.Client.Components.Store.Schema

<MudDialog>
    <DialogContent>
        <div>
            <MudSelect HelperText="Model" T="string" Label="Model" Variant="Variant.Text">
                @foreach (var model in StateOptions.ModelNames)
                {
                    <MudSelectItem Value="@model"/>
                }
            </MudSelect>
        </div>
        <div>
            <MudSelect HelperText="DataSet" T="string" Label="DataSet" Variant="Variant.Text">
                @foreach (var data in StateOptions.DataSetNames)
                {
                    <MudSelectItem Value="@data"/>
                }
            </MudSelect>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Start</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    void Submit() => MudDialog.Close(DialogResult.Ok(true));
    void Cancel() => MudDialog.Cancel();
}