
@if (AsAppBar)
{
    <MudToolBar Dense="true" class="flex justify-content-between w-100" Style="background:rgba(39,39,47,1);">
        <h5>@Title</h5>
        @Options
    </MudToolBar>
    <div>
        @ChildContent
    </div>
}
else
{
    <div class="container">
        <div class="row mb-2">
            <div class="col">
                <div class="d-inline-flex w-100">
                    <div>
                        <h5>@Title</h5>
                    </div>
                    <MudSpacer/>
                    <div class="pl-2">@Options</div>
                </div>
            </div>
        
        </div>
        <MudDivider/>
        <div class="row mt-2">
            @ChildContent
        </div>
    </div>   
}

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public bool AsAppBar { get; set; } = false;
    [Parameter] public RenderFragment Options { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}
