@using Radiate.Client.Domain.Templates.Panels
@using System.Text.Json
@using System.Reactive.Linq
@inherits StoreComponent<PanelDisplayProjection>

@if (Model is null)
{
    <div>Loading...</div>
}
else
{
    <DynamicComponent Type="@Model.Component" Parameters="@Model.Props"/>
}

@code {
    [CascadingParameter] public Guid RunId { get; set; }
    [Parameter] public Guid PanelId { get; set; }

    protected override IObservable<PanelDisplayProjection> Select() => Store
        .Select(RunUiSelectors.SelectPanelDisplayProjection(PanelId));
}