<MudNavMenu>
    <MudNavLink Icon="@Icons.Material.Outlined.ModelTraining" Href="/" Match="NavLinkMatch.All">Runs</MudNavLink>
    <MudDivider/>
    @if (IsOpen)
    {
        <div>
            <RunListPanel/>
        </div>   
    }
</MudNavMenu>

@code {
    
    [Parameter] public bool IsOpen { get; set; }
    
}
