@inherits StoreComponent<ImageDisplayPanelProjection>

@if (!Model.Image.IsEmpty)
{
    <div Class="d-flex justify-content-center">
        <ImageDisplay ImageWidth="500" ImageUrl="@Model?.Image.ImageDisplay" ImageTitle="@Model?.ImageType"/>
    </div>
}

@code
{
    [Parameter] public string ImageType { get; set; }
    
    protected override IObservable<ImageDisplayPanelProjection> Select() => 
        Store.Select(ImageSelectors.SelectImageDisplayPanelModel(ImageType));
}
