@inherits StoreComponent<ImageTargetCurrentDisplayPanelProjection>

<div class="mt-3 mb-3">
    <MudGrid>
        <MudItem md="6">
            @if (!Model.TargetImage.IsEmpty)
            {
                <div Class="d-flex justify-content-center">
                    <ImageDisplay ImageUrl="@Model.TargetImage.ImageDisplay" ImageTitle="Target"/>
                </div>
            }
        </MudItem>
        <MudItem md="6">
            <div Class="d-flex justify-content-center">
                <ImageDisplay ImageUrl="@Model?.CurrentImage.ImageDisplay" ImageTitle="Current"/>
            </div>
        </MudItem>
        <MudItem md="12">
            <div class="d-flex flex-row-reverse w-100">
                <MudButton>Click me</MudButton>
            </div>
        </MudItem>
    </MudGrid>
</div>

@code 
{
    protected override IObservable<ImageTargetCurrentDisplayPanelProjection> Select() => 
        Store.Select(ImageSelectors.SelectTargetCurrentDisplayPanelModel);
}
