@using Radiate.Client.Services.Store.Actions
@inherits StoreComponent<ImageCardPanelModel>


<div class="mt-3 mb-3">
    <MudGrid>
        <MudItem md="6">
            @if (!Model.TargetImage.IsEmpty)
            {
                <div Class="d-flex justify-content-center">
                    <ImageDisplay ImageUrl="@Model.TargetImage.ImageDisplay" ImageTitle="Target"/>
                </div>
            }
            else
            {
                <div Class="d-flex justify-content-center">
                </div>
            }
        </MudItem>
        <MudItem md="6">
            <div Class="d-flex justify-content-center">
                <ImageDisplay ImageUrl="@Model.CurrentImage.ImageDisplay" ImageTitle="Current"/>
            </div>
        </MudItem>
    </MudGrid>
</div>


@code {

    protected override IObservable<ImageCardPanelModel> Select() => Store.Select(ImageSelectors.GetImageCardPanelModel);
    
    private void TargetImageChanged(ImageEntity image)
    {
        Dispatch(new SetTargetImageAction(Model.RunId, image));
    }
}