@using Radiate.Client.Domain.Templates
@using Radiate.Client.Domain.Store.Schema


@switch (PanelName)
{
    case nameof(GraphInputsPanel):
        <GraphInputsPanel/>
        break;
    default:
        <div>Panel not found</div>
        break;
}

@code {
    [Parameter] public string PanelName { get; set; }
}