@inherits StoreComponent<PanelToolbarProjection>

<div class="d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
        <MudText Typo="Typo.body1" Style="ml-5">@Title</MudText>
    </div>
    <div class="d-flex align-items-center mr-1">
        <RunIcon IsRunning="@Model.IsRunning" IsPaused="@Model.IsPaused" IsComplete="@Model.IsComplete"/>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; }

    protected override IObservable<PanelToolbarProjection> Select() => 
        Store.Select(EngineSelectors.SelectPanelToolbarModel);
}