@inherits StoreComponent<Radiate.Client.Domain.Store.Models.Projections.ToolBarProjection>
@inject IDialogService DialogService
@inject NavigationManager Navigation

<MudToolBar Dense="true" class="flex justify-content-between w-100" Style="background: rgba(39,39,47,1);">
    <div class="container">
        <div class="row w-25 align-items-center">
            <div class="col">
                <h5>@Model!.ModelType&nbsp;@Model!.DataSetType</h5>
            </div>
        </div>
    </div>
    <div>
        <div class="d-flex align-items-center">
            <div class="mr-2">
                <TrainTestToggle/>
            </div>
            <ActionsMenu/>
        </div>
    </div>
</MudToolBar>
<MudProgressLinear Indeterminate="@Model.IsRunning" Rounded="true" Color="Color.Success" Size="Size.Small"/>

@code 
{
    [Parameter] public List<string> Actions { get; set; } = new();
    [Parameter] public string Title { get; set; }

    protected override IObservable<ToolBarProjection> Select() => Store.Select(UiSelectors.SelectToolBarModel);
    
    private async Task CopyRun() => await Task.Run(() =>
    {
        var runId = Model!.RunId;
        var newRunId = Guid.NewGuid();

        Navigation.NavigateTo($"/runs/{newRunId}/{Model.ModelType.ToLower()}");

        Store.Dispatch(new SetRunLoadingAction(newRunId, true));
        Store.Dispatch(new NavigateToRunAction(newRunId));
        Store.Dispatch(new CopyRunAction(runId, newRunId));
    });
}
